﻿
@{
    ViewBag.Title = "RefundProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="TransferApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <span class="ribbon-button-alignment">
        </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Customer</li>
            <li>Refund Property</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="TransferController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i>Refund Property </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            </div>
        </div>
        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-init="RefundInit()">
            <input type="hidden" id="hidFlatID" name="hidFlatID" value="@ViewBag.ID" />
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>Property Refund Wizard </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="row" id="dvSearch">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <b>Search By Property:</b><br />
                                    @*<select name="PropertyID" class="form-control" id="PropertyID">
                                        <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                    </select>*@
                                    <select name="TowerID" class="form-control" data-ng-change="TowerChange()" data-ng-model="Flat.TowerID" id="TowerID" required>
                                        <option data-ng-repeat="pro in TowerList" value="{{ pro.TowerID }}">{{pro.TowerName }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <b>Property Name</b><br />
                                    <label class="select">
                                        <select name="FlatID" class="form-control" data-ng-model="Flat.FlatID" id="FlatID" required>
                                            <option data-ng-repeat="fl in FlatList" value="{{ fl.FlatID }}">{{ fl.FlatNo }}</option>
                                        </select>
                                    </label>
                                    @*<input type="text" name="propertyname" id="propertyname" class="form-control" />*@
                                </div>
                                <div class="col-md-1">
                                    <br />
                                    <input type="submit" value="Search" data-ng-click="SearchPropertyForRefund()" class="btn btn-primary" id="Srch1" />
                                </div>
                            </div>
                            <div class="row" id="dvShow">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Customer Info</h2>
                                            <input type="hidden" id="SaleID" name="SaleID" value="@ViewBag.ID" />
                                            <input type="hidden" id="FlatID" name="FlatID" value="{{Sale.Sale[0].FlatID}}" />
                                            {{Sale.Sale[0].CustomerName}}<br />
                                            @*S/o: {{Sale.Sale[0].PName}}*@
                                        </div>
                                        <div class="col-md-12">
                                            <h2>Property Info</h2>
                                            {{Pro.FlatName}}<br />
                                            {{Pro.FlatType}} {{Pro.FlatSize}},{{Pro.FlatSizeUnit}}<br />
                                            SaleRete: {{Sale.Sale[0].SaleRete}}<br />
                                            SaelDate: {{SaleDate}}<br />
                                            Installment Plan: {{Pro.PlanName}}<br />
                                            <label class="label"><b>Property Name</b> {{Pro.FlatName}}</label>
                                            <input type="hidden" id="FlatName" name="FlatName" value="{{Pro.FlatName}}" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="comment-form" class="smart-form">
                                                <h2>Refund Property</h2>
                                                <br />
                                                <section class="col col-sm-12">
                                                    <label class="label">Amount Received</label>
                                                    <label class="input">
                                                        <input onblur="inWords(this.value)" value="{{TotalSearchAmount}}" type="text" id="ReceivedAmount">
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12">
                                                    <label class="label">Amount Received (IN Words)</label>
                                                    <label class="input">
                                                        <input type="text" id="PaymentAmountInWords" data-ng-model="ReceiveAmountWord" value="{{ReceiveAmountWord}}" name="name">
                                                    </label>
                                                </section>
                                                <section class="col-sm-12 col">
                                                    <label class="label">Payment Date </label>
                                                    <label class="input">
                                                        <input type="text" id="paymentDate" data-ng-model="PaymentDateSt" class="datecal" required="required" />
                                                    </label>
                                                </section>

                                                <section class="col col-sm-12">
                                                    <label class="label">Payment Mode</label>
                                                    <label class="select">
                                                        <select id="PaymentMode" name="budget" data-ng-model="PaymentMode" onchange="PaymentModeChange(this)">
                                                            <option value="Cash" selected="selected">Cash</option>
                                                            <option value="Cheque">Cheque</option>
                                                            <option value="DD">DD</option>
                                                            <option value="RTGS">RTGS</option>
                                                            <option value="Bank Transfer">Bank Transfer</option>
                                                            <option value="NEFT">NEFT</option>
                                                            <option value="Transfer Entry">Transfer Entry</option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <div class="row" id="divCheque" style="display: none">
                                                    <div class="col-sm-12 col">
                                                        <label class="label">Cheque No.</label>
                                                        <label class="input">
                                                            <input id="ChequeNo" data-ng-model="ChequeNo" type="text" />
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-12 col">
                                                        <label class="label">Cheque Date</label>
                                                        <label class="input">
                                                            <input type="text" id="chequeDate" data-ng-model="ChequeDateSt" class="datecal" />
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-8 col">
                                                        <label class="label">Bank Name</label>
                                                        <label class="select">
                                                            <select id="BankName" name="BankName" data-ng-model="BankName">
                                                                <option data-ng-repeat="bk in Banks" value="{{ bk.BankID }}">{{ bk.BankName }}</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-12 col">
                                                        <label class="label">Bank Branch</label>
                                                        <label class="input">
                                                            <input type="text" data-ng-model="BankBranch" id="BankBranch" />
                                                        </label>
                                                    </div>
                                                </div>
                                                <section class="col col-sm-12">
                                                    <label class="label">Remarks</label>
                                                    <label class="input">
                                                        <textarea id="Remarks" data-ng-model="Remarks" data-ng-maxlength="Remarks" class="form-control" placeholder="" rows="3"></textarea>
                                                    </label>
                                                </section>
                                                <section class="col col-sm-12">
                                                    <input type="checkbox" id="chkConfirm" name="chkConfirm" /> Confirm Return Property to accept terms and conditions.<br />
                                                    <input type="button" class="btn btn-info btn-lg" value="Refund Property" data-ng-click="RefundProperty()" />
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Installment Payments</h2>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped particular_tbl">
                                            <thead>
                                                <tr>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('PaymentDateSt', reverse)" class="pointer">PaymentDate <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">PropertyName <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('CustomerName', reverse)" class="pointer">CustomerName <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('Amount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('PaymentStatus', reverse)" class="pointer">Status <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('PaymentMode', reverse)" class="pointer">PaymentMode <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('ChequeDateSt', reverse)" class="pointer">ChequeDate <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('ChequeNo', reverse)" class="pointer">ChequeNo <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('BankName', reverse)" class="pointer">BankName <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('BankBranch', reverse)" class="pointer">Branch <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('CreatedBy', reverse)" class="pointer">UserName <i class="fa fa-sort-down"></i> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="sr in SearchList">
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentDateSt}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.FlatName}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.CustomerName}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.Amount}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentStatus}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentMode}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.ChequeDateSt}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.ChequeNo}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.BankName}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.BankBranch}}</td>
                                                    <td style="background-color:{{sr.InstallmentNo}}">{{sr.CreatedBy}}</td>
                                                </tr>
                                                <tr><td></td><td></td><td><b>Total</b></td><td><b>{{TotalSearchAmount}}</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
</div>
@section pagespecific {
<script src="~/AgController/Transferjs.js"></script>
<script type="text/javascript">
    $(function () {
        $(".datecal").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1914:2099',
            dateFormat: 'dd/mm/yy'
        });

    });
   
</script>
    
}
