﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="BrokerApp" role="main">
   
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-flag"></i>
                Customer
                <span>
                    >
                    Attach broker
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        </div>
    </div>
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="BrokerController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-building fa-fw "></i>Add  Broker To Property</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            </div>
        </div>
        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-init="AttachBrokerInit()">
            <input type="hidden" id="hidFlatID" name="hidFlatID" value="@ViewBag.ID" />
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>Add Broker Wizard</h2>
                        </header>
                        <!-- widget div-->
                        <!-- widget content -->
                        <div id="dvSearch">
                            <div class="widget-body fuelux">
                                <div class="form-horizontal" id="fuelux-wizard">
                                    <!-- step1 -->
                                    <div id="bootstrap-wizard-1" class="col-sm-12 top_padding">
                                        <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                            <header>
                                                <span class="widget-icon"><i class="fa fa-building"></i></span>
                                                <h2>Search Property</h2>
                                            </header>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-3">
                                                        <b>Tower Property:</b><br />
                                                        @*<select name="newCust.PropertyID" class="form-control" data-ng-model="PropertyID" id="PropertyID" required>
                                                            <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                        </select>*@
                                                        <select name="TowerID" class="form-control" data-ng-change="TowerChange()" data-ng-model="Flat.TowerID" id="TowerID" required>
                                                            <option data-ng-repeat="pro in TowerList" value="{{ pro.TowerID }}">{{pro.TowerName }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <b>Flat Name</b><br />
                                                        @*<input type="text" name="propertyname" id="propertyname" class="form-control" />*@
                                                        @*<label class="select">*@
                                                            <select name="FlatID" class="form-control" data-ng-model="Flat.FlatID" id="FlatID" required>
                                                                <option data-ng-repeat="fl in FlatList" value="{{ fl.FlatID }}">{{ fl.FlatNo }}</option>
                                                            </select>
                                                        @*</label>*@
                                                    </div>
                                                    <div class="col-md-1">
                                                        <br />
                                                        <input type="submit" value="Search" data-ng-click="SearchPropertyForSaleID()" class="btn btn-primary" id="Srch1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dvStep">
                            <div class="widget-body fuelux">
                                <div class="step-content">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <div class="form-content">
                                            <input type="hidden" id="hidSaleID" name="hidSaleID" value="@ViewBag.ID" />
                                            <input type="hidden" id="hidBroerToPropertyID" name="hidBroerToPropertyID" value="0" />
                                            <fieldset>
                                                <h2>Customer and Property</h2>

                                                <div class="row">
                                                    <div class="col-md-2">Property Name:</div>
                                                    <div class="col-md-5">
                                                        {{Pro.FlatName}}<br />
                                                        {{Pro.PropertyName}}<br />
                                                        {{Pro.PropertyType}} {{Pro.PropertySize}}<br />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        Customer Name
                                                    </div>
                                                    <div class="col-md-7">
                                                        {{Sale.Sale[0].CustomerName}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        Plan Name
                                                    </div>
                                                    <div class="col-md-7">
                                                        {{Pro.PlanName}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">Sale Price:</div>
                                                    <div class="col-md-7">{{Sale.Sale[0].SaleRate}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="divider"></div>
                                                    </div>
                                                </div>
                                                <h2>Add Broker to Property</h2>
                                                <div class="row">
                                                    <div class="col-md-2">Broker Name:</div>
                                                    <div class="col-md-5 input">
                                                        <select name="BrokerName" class="form-control" id="BrokerName">
                                                            <option data-ng-repeat="br in BrokerList" value="{{br.BrokerID}}">{{br.BrokerName}}</option>
                                                        </select>
                                                        <br />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">Broker Amount:</div>
                                                    <div class="col-md-5">
                                                        <input type="text" class="form-control" id="Amount" name="Amount" /><br />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">Date:</div>
                                                    <div class="col-md-5">
                                                        <input type="text" class="form-control datecal" id="BDate" name="BDate" /><br />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">Remarks:</div>
                                                    <div class="col-md-5">
                                                        <textarea id="Remarks" name="Remarks" class="form-control" cols="3"></textarea><br />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-5">
                                                        <a href="#" id="btnAdd" title="Add Broker" class="btn btn-primary" data-ng-click="AddBrokerToProperty()"><i class="fa fa-plus"></i>Add To Property</a>
                                                        <a href="#" id="btnEdit" title="Update Broker" class="btn btn-info" data-ng-click="UpdateBrokerToProperty()"><i class="fa fa-edit"></i>Update</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="divider"></div>
                                                    </div>
                                                </div>
                                                <h2>Broker to Property</h2>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderSaleBrokerList('DateSt', reverse)" class="pointer">Attach Date <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSaleBrokerList('BrokerName', reverse)" class="pointer">Broker Name <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSaleBrokerList('BrokerAmount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSaleBrokerList('Status', reverse)" class="pointer">Status <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSaleBrokerList('Remarks', reverse)" class="pointer">Remarks <i class="fa fa-sort-down"></i> </th>
                                                                        <th><b>Action</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in SaleBrokerList">
                                                                        <td>{{sr.DateSt}}</td>
                                                                        <td>{{sr.BrokerName}}</td>
                                                                        <td>{{sr.BrokerAmount}}</td>
                                                                        <td>{{sr.Status}}</td>
                                                                        <td>{{sr.Remarks}}</td>
                                                                        <td>
                                                                            <a href="#" data-ng-click="EditBrokerToProperty(sr.BrokerToPropertyID)" title="Edit Broker" class="btn btn-xs btn-success btn-sm"><i class="fa fa-edit"></i>Edit</a>
                                                                            <a href="#" data-ng-click="DeleteBrokerToProperty(sr.BrokerToPropertyID)" title="Delete Broker To Property" class="btn btn-xs btn-warning btn-sm"><i class="fa fa-trash"></i>Delete</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><b>Total</b></td>
                                                                        <td><b>{{TotalAmount}}</b></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
   
</div>
@section pagespecific {
    <script src="~/AgController/Brokerjs.js"></script>
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

    </script>
    <script type="text/javascript">
        $(function () {
            $(".datecal").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1970:2014',
                dateFormat: 'dd/mm/yy'
            });
        });
        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                    "copy",
                    "csv",
                    "xls",
                       {
                           "sExtends": "pdf",
                           "sTitle": "SmartAdmin_PDF",
                           "sPdfMessage": "SmartAdmin PDF Export",
                           "sPdfSize": "letter"
                       },
                       {
                           "sExtends": "print",
                           "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                       }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })

    </script>
}


<script type="text/javascript">
    $(function () {
        $(".datecal").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1970:2099',
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
