﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-ng-app="BrokerApp" role="main">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-flag"></i>
                Customer
                <span>
                    >
                    Pay broker
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        </div>
    </div>
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="BrokerController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-building fa-fw "></i>Pay to  Broker</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            </div>
        </div>
        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-init="PayBrokerInit()">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>Add Broker Wizard</h2>
                        </header>
                        <!-- widget div-->
                        <div id="dvSearch">
                            <div class="widget-body fuelux">
                                <div class="form-horizontal" id="fuelux-wizard">
                                    <!-- step1 -->
                                    <div id="bootstrap-wizard-1" class="col-sm-12 top_padding">
                                        <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                            <header>
                                                <span class="widget-icon"><i class="fa fa-building"></i></span>
                                                <h2>Search Property</h2>
                                            </header>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-md-2">Broker Name:</div>
                                                    <div class="col-md-5 input">
                                                        <select name="BrokerName" class="form-control" id="BrokerName">
                                                            <option data-ng-repeat="br in BrokerList" value="{{br.BrokerID}}">{{br.BrokerName}}</option>
                                                        </select>
                                                        <br />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="submit" value="Search" data-ng-click="SearchPropertyForBroker()" class="btn btn-primary" id="Srch1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dvStep">
                            <!-- widget content -->
                            <div class="widget-body fuelux">
                                <div class="step-content">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <div class="form-content">
                                            <input type="hidden" id="hidBrokerID" name="hidBrokerID" value="@ViewBag.ID" />
                                            <input type="hidden" id="hidBroerToPropertyID" name="hidBroerToPropertyID" value="0" />
                                            <fieldset>

                                                <div class="row" >
                                                    <div class="col-md-3" >
                                                        <b> Name :</b>
                                                    </div>
                                                    <div class="col-md-8">
                                                        {{Broker.BrokerName}}
                                                    </div>
                                                </div>

                                                <div class="row" id="subtypediv">
                                                    <div class="col-md-3">
                                                        <b>Mobile:</b>
                                                        @* <select name="PropertySizeID" class="form-control" data-ng-model="newCust.PropertySizeID" id="PropertySizeID">
                                                            <option value="All" selected="selected">All</option>
                                                            <option data-ng-repeat="pro in PropertySizes.PSizes" value="{{ pro.PropertySizeID }}">{{ pro.Size }}</option>
                                                        </select>*@
                                                    </div>

                                                    <div class="col-md-8">
                                                        {{Broker.MobileNo}}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('PropertyName', reverse)" class="pointer">Property Name <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('BrokerAmount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('DateSt', reverse)" class="pointer">Attach Date <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('Remarks', reverse)" class="pointer">Remarks <i class="fa fa-sort-down"></i> </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in BrokerPropertyList">
                                                                        <td>{{sr.PropertyName}}</td>
                                                                        <td>{{sr.BrokerAmount}}</td>
                                                                        <td>{{sr.DateSt}}</td>
                                                                        <td>{{sr.Remarks}}</td>
                                                                        @*<td>
                                                                            <a href="#" data-ng-click="PayBrokerToProperty(sr.BrokerToPropertyID,sr.SaleID,sr.FlatID,sr.BrokerAmount,sr.BrokerID)" title="Pay To Broker" class="btn btn-xs btn-success btn-sm"><i class="fa fa-rupee"></i>Pay</a>
                                                                        </td>*@
                                                                    </tr>
                                                                    <tr>
                                                                        <td><b>Total</b></td>
                                                                        <td><b>{{TotalAmount}}</b></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="divider"></div>
                                                    </div>
                                                </div>
                                                <div class="row" id="dvPay">
                                                    <div class="col-md-6">
                                                        <h2>Pay to Broker</h2>

                                                        <div class="row">
                                                            <div class="col-md-3">Broker Amount:</div>
                                                            <div class="col-md-8">
                                                                <input type="text" data-ng-model="Pay.AmountPaid" class="form-control" id="Amount" name="Amount" /><br />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="">Payment Date </label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" id="paymentDate" data-ng-model="Pay.PaymentDateSt" class="datecal form-control datecal" required="required" /><br />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="">Payment Mode</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select id="PaymentMode" name="budget" class="form-control" data-ng-model="Pay.PaymentMode" onchange="PaymentModeChange(this)">
                                                                    <option value="Cash" selected="selected">Cash</option>
                                                                    <option value="Cheque">Cheque</option>
                                                                    <option value="DD">DD</option>
                                                                    <option value="RTGS">RTGS</option>
                                                                    <option value="Bank Transfer">Bank Transfer</option>
                                                                    <option value="NEFT">NEFT</option>
                                                                    <option value="Transfer Entry">Transfer Entry</option>
                                                                </select><br />
                                                            </div>
                                                        </div>
                                                        <div id="divCheque" style="display: none">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label class="">Cheque No.</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input id="ChequeNo" class="form-control" data-ng-model="Pay.ChequeNo" type="text" /><br />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label class="">Cheque Date</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="chequeDate" data-ng-model="Pay.ChequeDateSt" class="datecal form-control datecal" /><br />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label class="">Bank Name</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <select id="BankName" class="form-control" name="BankName" data-ng-model="Pay.BankName">
                                                                        <option data-ng-repeat="bk in Banks" value="{{ bk.BankID }}">{{ bk.BankName }}</option>
                                                                    </select><br />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label class="">Bank Branch</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" data-ng-model="Pay.BankBranch" id="BankBranch" /><br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">Remarks:</div>
                                                            <div class="col-md-8">
                                                                <textarea id="Remarks" name="Remarks" data-ng-model="Pay.Remarks" class="form-control" cols="3"></textarea><br />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-8">
                                                                <a href="#" title="Pay To Broker" class="btn btn-primary" data-ng-click="SubmitPayBrokerToProperty()"><i class="fa fa-rupee"></i>Submit Payment</a>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="divider"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="display: none">
                                                        <h2>Broker Info</h2>
                                                        <div class="row">
                                                            <div class="col-md-2">Name:</div>
                                                            <div class="col-md-8">{{Broker.BrokerName}}</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-2">Mobile:</div>
                                                            <div class="col-md-8">{{Broker.Mobile}}</div>
                                                        </div>
                                                        <h2>Customer and Property</h2>
                                                        <div class="row">
                                                            <div class="col-md-3">Property Name:</div>
                                                            <div class="col-md-8">
                                                                {{Pro.FlatName}}<br />
                                                                {{Pro.PropertyName}}<br />
                                                                {{Pro.PropertyType}} {{Pro.PropertySize}}<br />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                Customer Name
                                                            </div>
                                                            <div class="col-md-8">
                                                                {{Sale.Sale[0].CustomerName}}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                Plan Name
                                                            </div>
                                                            <div class="col-md-8">
                                                                {{Pro.PlanName}}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">Sale Price:</div>
                                                            <div class="col-md-8">{{Sale.Sale[0].SaleRate}}</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h2>Broker Payment Details</h2>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('PaymentDateSt', reverse)" class="pointer">PayDate <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('AmountPaid', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('PaymentMode', reverse)" class="pointer">PaymentMode <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('ChequeNo', reverse)" class="pointer">ChequeNo <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('ChequeDateSt', reverse)" class="pointer">ChequeDate <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('BankName', reverse)" class="pointer">Bank <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('BankBranch', reverse)" class="pointer">Branch <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPaidList('Remarks', reverse)" class="pointer">Remarks <i class="fa fa-sort-down"></i> </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in BrokerPaidList">
                                                                        <td>{{sr.PaymentDateSt}}</td>
                                                                        <td>{{sr.AmountPaid}}</td>
                                                                        <td>{{sr.PaymentMode}}</td>
                                                                        <td>{{sr.ChequeNo}}</td>
                                                                        <td>{{sr.ChequeDateSt}}</td>
                                                                        <td>{{sr.BankName}}</td>
                                                                        <td>{{sr.BankBranch}}</td>
                                                                        <td>{{sr.Remarks}}</td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td><b>Total</b></td>
                                                                        <td><b>{{TotalAmountPaid}}</b></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
    <script src="~/Scripts/ngController/Brokerjs.js"></script>
</div>
<script type="text/javascript">
    $(function () {
        $(".datecal").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1970:2099',
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
@section pagespecific {
    <script src="~/AgController/Brokerjs.js"></script>
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

    </script>
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                    "copy",
                    "csv",
                    "xls",
                       {
                           "sExtends": "pdf",
                           "sTitle": "SmartAdmin_PDF",
                           "sPdfMessage": "SmartAdmin PDF Export",
                           "sPdfSize": "letter"
                       },
                       {
                           "sExtends": "print",
                           "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                       }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })

    </script>
}


