﻿@{
    ViewBag.Title = "Pending Installment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-ng-app="BIApp" role="main">
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="ReportController">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">
                    <!-- PAGE HEADER -->
                    <i class="fa-fw fa fa-building-o"></i>
                    Report
                    <span>
                        >
                        Pending installment
                    </span>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <!-- Button trigger modal -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-rupee"></i>&nbsp;&nbsp; Search Pending Installment</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="reportmail" placeholder="Enter Email Address......" name="reportmail" class="form-control" type="text" />
                            </div>
                            <div class="col-md-4">
                                <a name="rptSendMail" data-ng-click="ReportSendMail()" id="rptSendMail" class="btn btn-primary" value="Print"><i class="fa fa-envelope"></i> &nbsp;&nbsp;Send Mail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a name="rptExport" id="rptExport" data-ng-click="ReportExport()" class="btn btn-info" value="Export"><i class="fa fa-download"></i>&nbsp;&nbsp;Export</a>
                        <a name="rptPrint" id="rptPrint" data-ng-click="ReportPrint()" class="btn btn-warning" value="Print"><i class="fa fa-print"></i>&nbsp;&nbsp;Print</a>
                    </div>
                </div>
            </div>
            <!-- widget grid -->
            <section id="widget-grid" class="" data-ng-init="RefundInit()">
                <input type="hidden" id="hidFlatID" name="hidFlatID" value="@ViewBag.ID" />
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                            @*<header>
                                    <h2>Search Wizard </h2>
                                </header>*@
                            <!-- widget div-->
                            <div>
                                <!-- widget content -->
                                <div class="widget-body fuelux">
                                    <div class="step-content">
                                        <div class="form-horizontal" id="fuelux-wizard">
                                            @*@using (Html.BeginForm("Search", "Home", new { area = "" }, FormMethod.Post)) {*@
                                            <div class="form-content">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Property:</b><br />
                                                        <select name="TowerID" class="form-control" data-ng-change="TowerChange()" data-ng-model="Flat.TowerID" id="searchby" required>
                                                            <option data-ng-repeat="pro in TowerList" value="{{ pro.TowerID }}">{{pro.TowerName }}</option>
                                                            <option value="PropertyName">Property Name</option>
                                                            <option value="BookingDate">Date</option>
                                                        </select>
                                                        @*<select name="PropertyID" data-ng-change="PropertyName()" data-ng-model="newCust.PropertyID" id="PropertyID" class="form-control">

                                                                <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                            </select>*@
                                                    </div>
                                                    <div class="col-md-4" id="searchflatname">
                                                        <b>Search By:</b><br />
                                                        <select name="FlatID" class="form-control" data-ng-model="Flat.FlatID" id="FlatID" required>
                                                            <option data-ng-repeat="fl in FlatList" value="{{ fl.FlatID }}">{{ fl.FlatNo }}</option>
                                                        </select>
                                                        @*<input type="hidden" id="protypename" name="protypename">
                                                            <select id="searchby" name="searchby" class="form-control">
                                                                <option value="PropertyName">Property Name</option>
                                                                <option value="BookingDate">Date</option>
                                                            </select>*@
                                                    </div>

                                                    <div class="col-md-4">
                                                        <br />
                                                        <input type="submit" value="Search" data-ng-click="SearchPendingInstallment()" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                                <div class="row" id="datediv">
                                                    <div class="col-md-4">
                                                        <b>Due Date:</b>
                                                        <input type="date" name="datefrom" id="datefrom" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4" style="display:none">
                                                        <b>Date To:</b>
                                                        <input type="date" name="dateto" id="dateto" class="form-control" />
                                                    </div>

                                                </div>
                                                <div class="row" id="alldiv">
                                                    <div class="col-md-8">
                                                        <b>Enter Property Name </b>
                                                        <br />
                                                        <input type="text" id="searchtext" name="searchtext" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br />
                                                    </div>
                                                </div>


                                                <input type="hidden" name="hidsortby" id="hidsortby" />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive" id="rptTableContent">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('SaleRate', reverse)" class="pointer">SaleRate <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('FName', reverse)" class="pointer">CustomerName <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('MobileNo', reverse)" class="pointer">Mobile No <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">PropertyName <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaidAmount', reverse)" class="pointer">PaidAmount <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('DueAmount', reverse)" class="pointer">DueAmount <i class="fa fa-sort-down"></i> </th>
                                                                        <th><b>Action</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in SearchList">
                                                                        <td>{{sr.SaleRate}}</td>
                                                                        <td>{{sr.FName}}</td>
                                                                        <td>{{sr.MobileNo}}</td>
                                                                        <td>{{sr.FlatName}}</td>
                                                                        <td>{{sr.PaidAmount}}</td>
                                                                        <td>{{sr.DueAmount}} </td>
                                                                        <td>
                                                                            <a name="rptExport" target="_blank" id="rptExport" href="/Customer/Remark/AddRemark/{{sr.SaleID}}" class="btn btn-info" value="Export"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Followup</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td><b>Total</b></td>
                                                                        <td><b>{{TotalAmount}}</b></td>
                                                                        <td><b>{{TotalPaidAmount}}</b></td>
                                                                        <td><b>{{TotalDueAmount}}</b></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            @*}*@
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>

            <!-- widget grid -->
            <section id="widget-grid2" class="">
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">




                        @*@using (Html.BeginForm("Search", "Payment", null))
                            {*@
                        <!-- Widget ID (each widget will need unique ID)-->
                        <!-- end widget -->
                        @*}*@
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
        <!-- END MAIN CONTENT -->
    </div>
</div>


@section pagespecific {
    <script src="~/AgController/Reportjs.js"></script>
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

    </script>

    <script>
        $(document).ready(function () {
            $("#datediv").hide();
            $("#alldiv").hide();
            $("#searchflatname").hide();
            $scope.Flat.FlatID = 0;

            if (localStorage.getItem("searchby") != null) {
                $("#searchby").val(localStorage.getItem("searchby"));
                $("#sortby").val(localStorage.getItem("sortby"));
                $("#datefrom").val(localStorage.getItem("datefrom"));
                $("#dateto").val(localStorage.getItem("dateto"));
                $("#searchtext").val(localStorage.getItem("stext"));


                var v = $("#sortby").val();
                var vv = $("#searchby").val();
                var df = $("#datefrom").val();
                var dt = $("#dateto").val();
                var stext = $("#searchtext").val();
                if (vv.toString() == "PropertyName") {
                    $("#alldiv").show();
                    $("#searchflatname").hide();
                    $("#datediv").hide(); $("#subtypediv").hide();
                }
                else {
                    if (vv.toString() == "BookingDate") {
                        $("#datediv").show();
                        $("#searchflatname").hide();
                        $("#alldiv").hide(); 
                    }                   
                    else {
                        $("#searchflatname").show();
                        $("#alldiv").hide();
                        $("#datediv").hide();
                       
                    }
                }
            }
        })
        $("#sortby").change(function () {
            var v = $("#sortby").val();
            var vv = $("#searchby").val();
            var df = $("#datefrom").val();
            var dt = $("#dateto").val();
            var stext = $("#searchtext").val();
            localStorage.setItem("searchby", vv);
            localStorage.setItem("sortby", v);
            localStorage.setItem("datefrom", df);
            localStorage.setItem("dateto", dt);
            localStorage.setItem("stext", stext);

            $("#hidsortby").val(v);
            if (vv.toString() == "PropertyName" ) {
                $("#alldiv").show();
                $("#searchflatname").hide();
                $("#datediv").hide(); $("#subtypediv").hide();
            }
            else {
                if (vv.toString() == "BookingDate") {
                    $("#datediv").show();
                    $("#searchflatname").hide();
                    $("#alldiv").hide();
                }                
                else {
                    $("#searchflatname").show();
                    $("#alldiv").hide();
                    $("#datediv").hide();
                }
            }
        })

        $("#searchby").change(function () {
            var v = $("#sortby").val();
            var vv = $("#searchby").val();
            var df = $("#datefrom").val();
            var dt = $("#dateto").val();
            var stext = $("#searchtext").val();
            localStorage.setItem("searchby", vv);
            localStorage.setItem("sortby", v);
            localStorage.setItem("datefrom", df);
            localStorage.setItem("dateto", dt);
            localStorage.setItem("stext", stext);

            $("#hidsortby").val(v);
            if (vv.toString() == "PropertyName") {
                $("#alldiv").show();
                $("#searchflatname").hide();
                $("#datediv").hide(); $("#subtypediv").hide();
                $("#datefrom").val("");
                $("#dateto").val("");
               
            }
            else {
                if (vv.toString() == "BookingDate") {
                    $("#datediv").show();
                    $("#searchflatname").hide();
                    $("#alldiv").hide();
                }
                
                else {
                    $("#searchflatname").show();
                    $("#alldiv").hide();
                    $("#datediv").hide();
                }
            }
        })
        $("#datefrom").blur(function () {
            var df = $("#datefrom").val();
            localStorage.setItem("datefrom", df);
        })
        $("#dateto").blur(function () {
            var df = $("#dateto").val();
            localStorage.setItem("dateto", df);
        })
        $("#searchtext").blur(function () {
            var df = $("#searchtext").val();
            localStorage.setItem("stext", df);
        })
    </script>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                    "copy",
                    "csv",
                    "xls",
                       {
                           "sExtends": "pdf",
                           "sTitle": "SmartAdmin_PDF",
                           "sPdfMessage": "SmartAdmin PDF Export",
                           "sPdfSize": "letter"
                       },
                       {
                           "sExtends": "print",
                           "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                       }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })

    </script>
}
