﻿@{
    ViewBag.Title = "PropertyRemark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="BIApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <ol class="breadcrumb">
            <li>Property</li>
            <li>Follow</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="ReportController">
        <input type="hidden" id="hidFlatID" name="hidFlatID" value="@ViewBag.ID" />
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-backward"></i>&nbsp;&nbsp; Search Property Followup</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="reportmail" placeholder="Enter Email Address......" name="reportmail" class="form-control" type="text" />
                            </div>
                            <div class="col-md-4">
                                <a name="rptSendMail" data-ng-click="ReportSendMail()" id="rptSendMail" class="btn btn-primary" value="Print"><i class="fa fa-envelope"></i>&nbsp;&nbsp; Send Mail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a name="rptExport" id="rptExport" data-ng-click="ReportExport()" class="btn btn-info" value="Export"><i class="fa fa-download"></i>&nbsp; Export</a>
                        <a name="rptPrint" id="rptPrint" data-ng-click="ReportPrint()" class="btn btn-warning" value="Print"><i class="fa fa-print"></i>&nbsp; Print</a>
                    </div>
                </div>
            </div>



            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">


                            <div>

                                <!-- widget content -->
                                <div class="widget-body fuelux" data-ng-init="AddPropertyRemarkInit()">
                                    <input type="hidden" id="hidSaleID" name="hidSaleID" value="@ViewBag.SaleID" />
                                    <div class="step-content">
                                        <div class="form-horizontal" id="fuelux-wizard">
                                            @*@using (Html.BeginForm("Search", "Home", new { area = "" }, FormMethod.Post)) {*@
                                            <div class="form-content">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Property:</b><br />
                                                        <select name="TowerID" class="form-control" data-ng-change="TowerChange()" data-ng-model="Flat.TowerID" id="TowerID" required>
                                                            <option data-ng-repeat="pro in TowerList" value="{{ pro.TowerID }}">{{pro.TowerName }}</option>
                                                        </select>
                                                        @*<select name="PropertyID" data-ng-change="PropertyName()" data-ng-model="newCust.PropertyID" id="PropertyID" class="form-control">

                                                                <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                            </select>*@
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Property Name</b><br />
                                                        <select name="FlatID" class="form-control" data-ng-model="Flat.FlatID" id="FlatID" required>
                                                            <option data-ng-repeat="fl in FlatList" value="{{ fl.FlatID }}">{{ fl.FlatNo }}</option>
                                                        </select>
                                                        <input type="hidden" id="flantname" name="flantname" />
                                                        @*<input type="text" id="searchtext" name="searchtext" class="form-control" />*@
                                                    </div>

                                                    <div class="col-md-4">
                                                        <br />
                                                        <input type="submit" value="Search" data-ng-click="SearchPropertyRemak()" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                                <input type="hidden" name="hidsortby" id="hidsortby" />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive" id="rptTableContent">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('BookingDateSt', reverse)" class="pointer">Follow Date <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">Property Name <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('Dueamount', reverse)" class="pointer">Due Amount <i class="fa fa-sort-down"></i> </th>
                                                                        <th><b>FollowUp</b></th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('CreateBy', reverse)" class="pointer"> UserName <i class="fa fa-sort-down"></i> </th>
                                                                        <th><b>Action </b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in SearchList">
                                                                        <td>{{sr.BookingDateSt}}</td>
                                                                        <td>{{sr.FlatName}}</td>
                                                                        <td>{{sr.Dueamount}}</td>
                                                                        <td>{{sr.Remarks}}</td>
                                                                        <td>{{sr.CreateBy}}</td>
                                                                        <td>
                                                                            <a name="rptExport" id="rptExport" href="/Customer/Remark/AddRemark/{{sr.SaleID}}" class="btn btn-info" value="Export"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Followup</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            @*}*@
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>

            <!-- widget grid -->
            <section id="widget-grid2" class="">
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">




                        @*@using (Html.BeginForm("Search", "Payment", null))
                            {*@
                        <!-- Widget ID (each widget will need unique ID)-->
                        <!-- end widget -->
                        @*}*@
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
        <!-- END MAIN CONTENT -->
        @*<script src="~/Content/js/jquery-1.7.2.min.js"></script>
            <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
            <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />*@

    </div>
</div>
@section pagespecific {
    <script src="~/AgController/Remark.js"></script>
}
