﻿@model IEnumerable<REMS.Data.Payment>
    @{
        ViewBag.Title = "Search";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @*<script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/moment-with-locales.min.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/ngController/ManagePayjs.js"></script>*@

                      <div data-ng-app="ManageApp" role="main">
                          <!-- RIBBON -->
                          <div id="ribbon">
                              <!-- breadcrumb -->
                              <ol class="breadcrumb">
                                  <li>Search Payments</li>
                              </ol>
                              <!-- end breadcrumb -->
                          </div>
                          <!-- END RIBBON -->
                          <!-- MAIN CONTENT -->
                          <div id="content" data-ng-controller="ManageController">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                                      <h1 class="page-title txt-color-blueDark"><i class="fa fa-download fa-fw "></i>Backup Payment Receipt</h1>
                                  </div>
                                  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                                      <br />
                                      <div class="row">
                                          <div class="col-md-8">
                                              <div class="row">
                                                  <div class="col-md-8">
                                                      Email ID: <input type="text" name="EmailID" placeholder="Enter Email Address......" id="EmailID"  class="form-control" /> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                                  </div>
                                                  <div class="col-md-4">
                                                      <input type="button" class="btn btn-primary" id="ExportMail" name="ExportMail" data-ng-click="BackupReceiptExportAndMail()" value="Export & Mail" />
                                                      <a href="#" class="btn btn-primary" id="SendMail" name="SendMail" data-ng-click="BackupReceiptSendMail()"><i class="fa fa-mail-forward"></i> Send Mail</a>
                                                  </div>
                                              </div>
                                              </div>
                                          <div class="col-md-4">
                                              <a href="#" class="btn btn-warning" data-ng-click="BackupReceiptPrint()" id="Print" name="Print"><i class="fa fa-print"></i> Print</a>
                                              <a href="#" class="btn btn-warning" id="PrintData" onclick="javascript:printDiv('printablediv')" name="PrintData"><i class="fa fa-print"></i> Print Data</a>
                                              @using (Html.BeginForm("ExportTest", "Manage", new { area = "Installment" }, FormMethod.Post))
{
    <input type="submit" class="btn btn-info" value="Export Data" onclick="ExportClick()" />
                                                                                                <input type="hidden" id="hidtid" name="hidtid" />
}
                                          </div>
                                          </div>                                              
                                          </div>
                                  </div>
                              </div>
                              <!-- widget grid -->
                              <section id="widget-grid" data-ng-init="RefundInit()">
                                  <input type="hidden" id="hidFlatID" name="hidFlatID" value="@ViewBag.ID" />
                                  <!-- row -->
                                  <div class="row">

                                      <!-- NEW WIDGET START -->
                                      <article class="col-sm-12 col-md-12">
                                          @*@using (Html.BeginForm("Search", "Payment", null))
                            {*@

                                          <!-- Widget ID (each widget will need unique ID)-->
                                          <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">

                                              <header>
                                                  <h2>Backup Receipt</h2>
                                              </header>
                                              <div>
                                                  <div class="widget-body fuelux">
                                                      <div class="step-content">
                                                          <div class="form-horizontal" id="fuelux-wizard">
                                                              <div class="form-content">
                                                                  <div class="row">
                                                                      <div class="col-md-4">
                                                                          <b>Property:</b><br />
                                                                          <select name="TowerID" class="form-control" data-ng-change="TowerChange()" data-ng-model="Flat.TowerID" id="searchby" required>
                                                                              <option data-ng-repeat="pro in TowerList" value="{{ pro.TowerID }}">{{pro.TowerName }}</option>
                                                                              <option value="All" selected="selected">All</option>                                                                            
                                                                              <option value="ReceiptNo">ReceiptNo</option>
                                                                              <option value="FlatName">Flat Name</option>
                                                                              <option value="Customer Name">Customer Name</option>
                                                                              <option value="PaymentDate">Payment Date</option>
                                                                              <option value="This Month">This Month</option>
                                                                              <option value="Last 7 Days">Last 7 Days</option>
                                                                          </select>
                                                                      </div>
                                                                      <div class="col-md-4" id="searchflatname">
                                                                          <b>Search By:</b><br />
                                                                          <select name="FlatID" class="form-control" data-ng-model="Flat.FlatID" id="FlatID" required>
                                                                              <option data-ng-repeat="fl in FlatList" value="{{ fl.FlatID }}">{{ fl.FlatNo }}</option>
                                                                          </select>
                                                                          @*<input type="hidden" id="protypename" name="protypename">
            <select id="searchby" name="searchby" class="form-control">
                <option value="All" selected="selected">All</option>
                <option value="SubType">Property SubType</option>
                <option value="ReceiptNo">ReceiptNo</option>
                <option value="FlatName">Property Name</option>
                <option value="Customer Name">Customer Name</option>
                <option value="PaymentDate">Payment Date</option>
                <option value="Last 7 Days">Last 7 Days</option>
            </select>*@
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                          <br />
                                                                          <input type="submit" value="Search" data-ng-click="SearchBackupReceipt()" class="btn btn-primary" />
                                                                      </div>
                                                                  </div>
                                                                  <div class="row" id="datediv">
                                                                      <div class="col-md-4">
                                                                          <b>Date From:</b>
                                                                          <input type="date" name="datefrom" id="datefrom" class="form-control" />
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                          <b>Date To:</b>
                                                                          <input type="date" name="dateto" id="dateto" class="form-control" />
                                                                      </div>
                                                                  </div>
                                                                  <div class="row" id="alldiv">
                                                                      <div class="col-md-8">
                                                                          <b>Enter Search Query</b><br />
                                                                          <input type="text" id="searchtext" name="searchtext" class="form-control" />
                                                                      </div>
                                                                  </div>
                                                                  <input type="hidden" name="hidsortby" id="hidsortby" />
                                                                  <br />


                                                                  <div class="row">
                                                                      <div class="col-md-12">
                                                                          <div class="table-responsive">
                                                                              <table class="table table-bordered table-striped particular_tbl">
                                                                                  <thead>
                                                                                      <tr>
                                                                                          <th><input type="checkbox" name="selectall" id="selectall" onchange="checkall()" /> <b>All</b></th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('PaymentDate', reverse)" class="pointer">PaymentDate <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('Amount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('CustomerName', reverse)" class="pointer">Owner <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">PropertyName <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('PaymentNo', reverse)" class="pointer">ReceiptNo <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('PaymentMode', reverse)" class="pointer">PaymentMode <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('ChequeNo', reverse)" class="pointer">ChequeNo <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('BankName', reverse)" class="pointer">BankName <i class="fa fa-sort-down"></i> </th>
                                                                                          <th data-ng-click="reverse=!reverse;orderSearchList('ChequeDate', reverse)" class="pointer">ChequeDate <i class="fa fa-sort-down"></i> </th>
                                                                                          <th>Status</th>
                                                                                          <th>Action</th>
                                                                                      </tr>
                                                                                  </thead>
                                                                                  <tbody>
                                                                                      <tr data-ng-repeat="sr in SearchList">
                                                                                          <td style="background-color:{{sr.InstallmentNo}}"><input type="checkbox" class="selectone" name="selectone" id="{{sr.TransactionID}}" value="{{sr.TransactionID}}" /></td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}"> {{sr.PaymentDate}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.Amount}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.CustomerName}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.FlatName}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentNo}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentMode}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.ChequeNo}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.BankName}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.ChequeDate}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentStatus}}</td>
                                                                                          <td style="background-color:{{sr.InstallmentNo}}">
                                                                                              <a onclick="PrintSingleReceipt(this)" title="{{sr.TransactionID}}" href="#">Print</a>
                                                                                          </td>
                                                                                      </tr>
                                                                                      <tr><td></td><td><b>Total</b></td><td><b>{{TotalSearchAmount}}</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                                                                  </tbody>
                                                                              </table>
                                                                          </div>
                                                                      </div>
                                                                  </div>

                                                                  <div class="row">
                                                                      <div id="printablediv">
                                                                          <table>
                                                                              <tr>
                                                                                  <td>PayDate</td>
                                                                                  <td>Amount</td>
                                                                                  <td>Owner</td>
                                                                                  <td>@Session["PropertyName"].ToString()</td>
                                                                                  <td>ReceiptNo</td>
                                                                                  <td>PayMode</td>
                                                                                  <td>ChequeNo</td>
                                                                                  <td>BankName</td>
                                                                                  <td>ChequeDate</td>
                                                                                  <td>Status</td>
                                                                              </tr>
                                                                              <tr data-ng-repeat="sr in SearchList">
                                                                                  <td>{{sr.PaymentDate}}</td>
                                                                                  <td>{{sr.Amount}}</td>
                                                                                  <td>{{sr.CustomerName}}</td>
                                                                                  <td>{{sr.FlatName}}</td>
                                                                                  <td>{{sr.PaymentNo}}</td>
                                                                                  <td>{{sr.PaymentMode}}</td>
                                                                                  <td>{{sr.CheckNo}}</td>
                                                                                  <td>{{sr.BankName}}</td>
                                                                                  <td>{{sr.ChequeDate}}</td>
                                                                                  <td>{{sr.PaymentStatus}}</td>
                                                                              </tr>
                                                                              <tr><td></td><td><b>Total</b></td><td><b>{{TotalSearchAmount}}</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                                                          </table>
                                                                      </div>

                                                                      <div id="ReceiptPritable">
                                                                          <div data-ng-repeat="pr in PrintReceiptList">
                                                                              <div style='text-align: center'>
                                                                                  <h2></h2>
                                                                                  <p><b></b></p>
                                                                                  <p></p>
                                                                                  <br />
                                                                                  <br />
                                                                                  <br />
                                                                                  <br />
                                                                                  <br />
                                                                                  <br />
                                                                                  <br />
                                                                                  <br />
                                                                                  <h3>RECEIPT: {{pr.PaymentNo}}</h3>
                                                                              </div>

                                                                              Received with thanks from <br />
                                                                              <table>
                                                                                  <tr>
                                                                                      <td>
                                                                                          First Allottee:
                                                                                      </td>
                                                                                      <td> {{pr.CustomerName}} </td>
                                                                                  </tr>
                                                                                  <tr><td></td><td> {{pr.CustomerAddress}}</td></tr>
                                                                              </table>

                                                                              Co Allottee(s): &nbsp; {{pr.CoCustomerName}} <br />
                                                                              <p>Payment in the respect to Property. : {{pr.FlatName}} </p>

                                                                              <p> Vide {{pr.PaymentMode}} {{pr.ChequeNo}} {{pr.BankName}} {{pr.BranchName}} </p>
                                                                              <table>
                                                                                  <tr style='border:1px solid black'><td>Description</td><td>Amount (Rs)</td>
                                                                                  <tr>
                                                                                  <tr style='border:1px solid black'><td> {{pr.InstallmentNo}} </td><td> {{pr.Amount}} </td></tr>
                                                                                  <tr><td>Repees {{pr.AmtRcvdinWords}} </td> <td> {{pr.Amount}} </td></tr>
                                                                              </table>
                                                                              <p>
                                                                                  Property at: {{pr.PropertyAddress}} , <b> {{pr.PropertyName}} </b><br />
                                                                                  Location: {{pr.PropertyLocation}}
                                                                              </p>
                                                                              <table>
                                                                                  <tr>
                                                                                      <td>
                                                                                          <ul>
                                                                                              <li>Receipt is valid subject to realisation of cheque.</li>
                                                                                          </ul>
                                                                                      </td>
                                                                                      <td></td>
                                                                                  </tr>
                                                                              </table>
                                                                              <p><b>for SBP GROUPS. </b></p>
                                                                              <table>
                                                                                  <tr>
                                                                                      <td>
                                                                                          <b>Authorised Signatury </b><br />
                                                                                          (Prepared By)<br />
                                                                                          Sunita.d
                                                                                      </td>
                                                                                      <td><p style='text-align:right;'></p> </td>
                                                                                  </tr>
                                                                              </table>
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />

                                                                          </div>
                                                                      </div>
                                                                      <div id="ReceiptPritableSingle">
                                                                          <div style='text-align: center'>
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <br />
                                                                              <h3>RECEIPT: <b id="tdPaymentNo"></b></h3>
                                                                          </div>

                                                                          Received with thanks from <br />

                                                                          First Allottee:  <b id="tdCustomerName"> </b><br />
                                                                          <b id="tdFAddress"></b><br />

                                                                          Co Allottee(s): &nbsp;<b id="tdCName"></b>
                                                                          <p>
                                                                              Payment in the respect to Property :<b id="tdPropertyUnitAddress"></b> <br />
                                                                              Vide <b id="tdPaymentDetails"></b>
                                                                          </p>
                                                                          <table>
                                                                              <tr style='border:1px solid black'><td>Installment Description</td><td>Amount (Rs)</td>
                                                                              <tr>
                                                                              <tr style='border:1px solid black'><td id="tdInstallmentNo">  </td><td id="tdAmount">  </td></tr>
                                                                              <tr><td id="tdAmountWord">Repees  </td> <td id="tdAmontT">  </td></tr>
                                                                          </table>
                                                                          <p>
                                                                              Property at: <b id="tdPropertyAddress"></b> , <b id="tdPropertyName"> </b><br />
                                                                              Location: <b id="tdPropertyLocation"></b>
                                                                          </p>
                                                                          <table>
                                                                              <tr>
                                                                                  <td>
                                                                                      <ul>
                                                                                          <li>Receipt is valid subject to realisation of cheque.</li>
                                                                                      </ul>
                                                                                  </td>
                                                                                  <td>
                                                                                      <p style='text-align:right;'></p>
                                                                                  </td>
                                                                              </tr>
                                                                          </table>
                                                                          <p><b>for SBP GROUPS. </b></p><br />
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                          <p><b>Authorised Signatury </b></p>
                                                                          (Prepared By)<br />
                                                                          Sunita.d
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                          <br />
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- end widget content -->
                                              </div>
                                          <!-- end widget div -->
                                  
                                       </div>
                          <!-- end widget -->
                          @*}*@
                          </article>
                          <!-- WIDGET END -->
                      </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
        <!-- END MAIN CONTENT -->
                      


        @*<script src="~/Content/js/jquery-1.7.2.min.js"></script>
            <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
            <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />*@
    </div>
    @section pagespecific {
        <script src="~/AgController/ManagePayJs.js"></script>
        <script>
            // Check all check function.
            function checkall() {
                if ($("#selectall").is(":checked")) {
                    $(".selectone").prop('checked', true);
                }
                else {
                    $(".selectone").prop('checked', false);
                }
            }

            $(document).ready(function () {
                $('#loading').hide();
                $("#datediv").hide();
                $("#alldiv").hide();
                $("#searchflatname").hide();
                $scope.Flat.FlatID = 0;
                if (localStorage.getItem("searchby") != null) {
                    $("#searchby").val(localStorage.getItem("searchby"));
                    $("#sortby").val(localStorage.getItem("sortby"));
                    $("#datefrom").val(localStorage.getItem("datefrom"));
                    $("#dateto").val(localStorage.getItem("dateto"));
                    $("#searchtext").val(localStorage.getItem("stext"));


                    var v = $("#sortby").val();
                    var vv = $("#searchby").val();
                    var df = $("#datefrom").val();
                    var dt = $("#dateto").val();
                    var stext = $("#searchtext").val();
                    if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
                        $("#alldiv").hide();
                        $("#datediv").hide(); $("#subtypediv").hide(); $("#searchflatname").hide();
                    }
                    else {
                        if (vv.toString() == "PaymentDate" || vv.toString() == "PaymentDate") {
                            $("#datediv").show();
                            $("#alldiv").hide(); $("#subtypediv").hide(); $("#searchflatname").hide();
                        }
                        else if (vv.toString() == "ReceiptNo" || vv.toString() == "Customer Name" || vv.toString() == "FlatName") {
                            $("#alldiv").show();
                            $("#datediv").hide();
                            $("#searchflatname").hide();
                        }
                        else {
                            $("#alldiv").hide();
                            $("#datediv").hide();
                            $("#subtypediv").hide(); $("#searchflatname").show();
                        }
                    }
                }
            })
            $("#sortby").change(function () {
                var v = $("#sortby").val();
                var vv = $("#searchby").val();
                var df = $("#datefrom").val();
                var dt = $("#dateto").val();
                var stext = $("#searchtext").val();
                localStorage.setItem("searchby", vv);
                localStorage.setItem("sortby", v);
                localStorage.setItem("datefrom", df);
                localStorage.setItem("dateto", dt);
                localStorage.setItem("stext", stext);

                $("#hidsortby").val(v);
                if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
                    $("#alldiv").hide();
                    $("#datediv").hide(); $("#subtypediv").hide(); $("#searchflatname").hide();
                }
                else {
                    if (vv.toString() == "PaymentDate" || vv.toString() == "PaymentDate") {
                        $("#datediv").show();
                        $("#alldiv").hide(); $("#subtypediv").hide(); $("#searchflatname").hide();
                    }
                    else if (vv.toString() == "ReceiptNo" || vv.toString() == "Customer Name" || vv.toString() == "FlatName") {
                       
                        $("#alldiv").show();
                        $("#datediv").hide(); $("#searchflatname").hide();
                    }
                    else {
                        $("#alldiv").hide();
                        $("#datediv").hide();
                        $("#subtypediv").hide(); $("#searchflatname").show();
                    }
                }
            })

            $("#searchby").change(function () {
                var v = $("#sortby").val();
                var vv = $("#searchby").val();
                var df = $("#datefrom").val();
                var dt = $("#dateto").val();
                var stext = $("#searchtext").val();
                localStorage.setItem("searchby", vv);
                localStorage.setItem("sortby", v);
                localStorage.setItem("datefrom", df);
                localStorage.setItem("dateto", dt);
                localStorage.setItem("stext", stext);

                $("#hidsortby").val(v);
                if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
                    $("#alldiv").hide();
                    $("#searchflatname").hide();
                    $("#datefrom").val("");
                    $("#dateto").val("");
                    $("#datediv").hide(); 
                }
                else {
                    if (vv.toString() == "PaymentDate" || vv.toString() == "PaymentDate") {
                        $("#datediv").show();
                        $("#alldiv").hide();
                        $("#searchflatname").hide();
                    }
                    else if (vv.toString() == "ReceiptNo" || vv.toString() == "Customer Name" || vv.toString() == "FlatName") {
                        $("#alldiv").show();
                        $("#datediv").hide();
                        $("#searchflatname").hide();
                    }
                    else {
                        $("#alldiv").hide();
                        $("#datediv").hide();
                        $("#subtypediv").hide();
                        $("#searchflatname").show();
                    }
                }
            })
            $("#datefrom").blur(function () {
                var df = $("#datefrom").val();
                localStorage.setItem("datefrom", df);
            })
            $("#dateto").blur(function () {
                var df = $("#dateto").val();
                localStorage.setItem("dateto", df);
            })
            $("#searchtext").blur(function () {
                var df = $("#searchtext").val();
                localStorage.setItem("stext", df);
            })
        </script>
        <script>

            $("#printablediv").hide();
            $("#ReceiptPritableSingle").hide();
            $("#Download").hide();
            $("#ReceiptPritable").hide();
            $("#PrintR").hide();
            function printDiv(divID) {
                //  $("#printablediv").show();

                $('#loading').show();
                var yourarray = [];
                $('input.selectone').each(function () {
                    yourarray.push($(this).val());
                });
                $('#loading').hide();

                var murl = "/Sale/Manage/BackupReceiptPrintDataAction/" + yourarray;
                window.open(murl, '_blank');

                ////Get the HTML of div
                //var divElements = document.getElementById(divID).innerHTML;
                ////Get the HTML of whole page
                //var oldPage = document.body.innerHTML;

                ////Reset the page's HTML with div's HTML only
                //document.body.innerHTML =
                //  "<html><head><title></title></head><body>" +
                //  divElements + "</body></html>";

                ////Print Page
                //window.print();

                ////Restore orignal HTML
                //document.body.innerHTML = oldPage;
                //$("#Print").show();
                //$("#PrintR").hide();

            }

            function PrintSingleReceipt(v) {
                $('#loading').show();
                var tid = $(v).attr("title");
                var yourarray = [];
                yourarray.push(tid);
                $('#loading').hide();

                var murl = "/Sale/Manage/BackupReceiptPrintAction/" + yourarray;
                window.open(murl, '_blank');
                //$.ajax({
                //    method: 'Get',
                //    contentType: "application/json; charset=utf-8",
                //    url: '/Installment/Manage/BackupReceiptPrintSingle',
                //    data: { tid: tid },
                //    dataType: "json"
                //}).success(function (response) {
                //    var v = response;
                //    $("#tdCustomerName").text(v[0].CustomerName);
                //    $("#tdFAddress").text(v[0].CustomerAddress);
                //    $("#tdCName").text(v[0].CoCustomerName);
                //    $("#tdPropertyUnitAddress").text(v[0].FlatName);
                //    $("#tdPaymentDetails").text(v[0].PaymentMode + " " + v[0].ChequeNo + " " + v[0].BankName + " " + v[0].BankBranch + " " + v[0].ChequeDate);
                //    $("#tdInstallmentNo").text(v[0].InstallmentNo);
                //    $("#tdAmount").text(v[0].Amount);
                //    $("#tdAmountWord").text(v[0].AmtRcvdinWords);
                //    $("#tdAmontT").text(v[0].Amount);
                //    $("#tdPaymentNo").text(v[0].PaymentNo);
                //    $("#tdPropertyAddress").text(v[0].PropertyAddress);
                //    $("#tdPropertyName").text(v[0].PropertyName);
                //    $("#tdPropertyLocation").text(v[0].PropertyLocation);
                //    $('#loading').hide();
                //}).then(function () {
                //    //Get the HTML of div
                //    var divElements = document.getElementById('ReceiptPritableSingle').innerHTML;
                //    //Get the HTML of whole page
                //    var oldPage = document.body.innerHTML;

                //    //Reset the page's HTML with div's HTML only
                //    document.body.innerHTML =
                //      "<html><head><title></title></head><body>" +
                //      divElements + "</body>";
                //    //Print Page
                //    window.print();

                //    //Restore orignal HTML
                //    document.body.innerHTML = oldPage;
                //})


            }
            function ExportClick() {
                var v = "";
                $('input.selectone').each(function () {
                    v = v + "," + $(this).val();
                });
                $("#hidtid").val(v);
            }

        </script>
    }
